.customer-service {
	@extend %internal-page-structure;
	font-family: $body-font-family;
	font-size: rem-calc(14px);

	label {
		font-style: italic;

		span {
			color: #666666;
			display: inline-block;
			float: right;
		}
	}

	textarea {
		min-height: 100px;
	}	

	.returns-exchange {

		article {
			margin-bottom: rem-calc(30px);

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.shipping-policy {

		section {
			margin-bottom: rem-calc(30px);

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}