.customer-service {
	@extend %internal-page-structure;

	label {
		font-style: italic;

		span {
			color: #666666;
			display: inline-block;
			float: right;
		}
	}

	textarea {
		min-height: 100px;
	}	
}