.customer-service {
	@include grid-column(
		$columns:12,
		$collapse:true
		);
	padding: rem-calc(12px) 0;

	& > section {
		@include grid-row();
		border-bottom: 1px solid $hr-gray;
		margin-bottom: rem-calc(20px);
		padding-bottom: rem-calc(20px);

		&:last-child {
			border: none;
			margin-bottom: 0;
			padding-bottom: 0;
		}

		& > div {
			@include grid-column(12);
		}
	}

	h1,h2,h3,h4,h5,h6 {
		@extend %no-padding;
	}

	h1 {
		border-bottom: 1px solid $hr-gray;
		display: block;
		font-size: rem-calc(25px);
		line-height: rem-calc(25px);
		margin-bottom: rem-calc(21px);
		padding-bottom: rem-calc(12px);
		text-align: center;
		@extend %helvetica-neue-77-bold-condensed;
	}
	h3 {
		font-size: rem-calc(20px);
		line-height: rem-calc(20px);
		margin: 0 0 rem-calc(21px);
		@extend %helvetica-neue-77-bold-condensed;
	}

	h5 {
		font-size: rem-calc(18px);
		line-height: rem-calc(18px);
		margin: 0 0 rem-calc(13px);
		@extend %font-bold-italic;
	}

	h6 {
		line-height: rem-calc(14px);
		font-weight: bold;
	}

	p {
		line-height: rem-calc(22px);
		margin: 0 0 rem-calc(27px);
	}
	h6, p, ul {
		font-size: rem-calc(14px);
	}

	article {
		&:last-child {
			> p {
				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		section {
			&:last-child {
				> p {
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	.rates-table {
		margin-bottom: rem-calc(30px);

		& > ul {
			list-style: none;
			@include grid-row($behavior: nest);

			& > li {
				@include grid-column(6);

				&:last-child {
					text-align: right;
				}

				ul {
					@extend %no-padding;
				}

				li {
					display: block;
				}
			}

			span {
				text-transform: uppercase;
			}
		}
	}

	label {
		font-style: italic;

		span {
			color: #666666;
			display: inline-block;
			float: right;
		}
	}

	input, textarea {
		@extend %border-radius;
	}

	textarea {
		min-height: 100px;
	}

	// Contact Us Section
	.contact-us {

		form {
			margin-bottom: rem-calc(35px);
		}

		.contact-us-footer {
			h5 {
				&:first-child {
					margin: 0 0 rem-calc(26px);
				}

				a {
					display: inline-block;
					width: auto;
				}
			}
		}
	}
}


















