.alert {
	color: $red;

	p {
		margin-bottom: 0;
	}

	p,ul {
		font-size: rem-calc(10px);
		font-style: italic;
		line-height: rem-calc(14px);
		text-align: center;
	}


}

input.error, textarea.error, select.error {
	border: 1px solid $red;
	color: $red;
}

label {

	&.error {
		font-size: rem-calc(10px);
		font-style: italic;
		float: right;
		line-height: rem-calc(14px);
		margin-top: 5px;
		text-align: right;

		&[for="shipping-address-state"], 
		&[for="shipping-address-zipCode"], 
		&[for="credit-card-state"], 
		&[for="credit-card-zipCode"],
		&[for="credit-card-expirationMonth"],
		&[for="credit-card-expirationYear"]
		 {
			float: none;
			margin: rem-calc(0 0 16 0);
			text-align: left;
		}
	}
}

select {

	&.error {
		margin-bottom: 0;
	}
}



//h3 Title Span class
span.title {
	font-size: inherit !important;
	color: inherit !important;
	display: inline !important;
}