.alert {
	color: $red;

	p {
		margin-bottom: 0;
	}

	p,ul {
		font-size: rem-calc(10px);
		font-style: italic;
		line-height: rem-calc(14px);
		text-align: center;
	}


}

input.error, textarea.error, select.error {
	border: 1px solid $red;
	color: $red;
}

label {

	&.error {
		font-size: rem-calc(10px);
		font-style: italic;
		float: right;
		line-height: rem-calc(14px);
		margin-top: 5px;
		text-align: right;
	}
}

//h3 Title Span class
span.title {
	font-size: inherit !important;
	color: inherit !important;
	display: inline !important;
}