// Add Border Radius to all form elements
input, textarea, select {
	@extend %border-radius;
}

// Global for all submit buttons
.action-submit {
	@extend %norm-button;
}

// Cancel Links
.cancel-link {
	@extend %white-button;
}

// Primary Button
.btn-primary {
	@extend %norm-button;
}

// Right link (forgot password)
.right-link {
	float: right;
}

// Forgot password
.forgot-link {
	font-size: rem-calc(12px);
	font-size: rem-calc(14px);
	font-weight: normal;
}

// Disabled + Active
.form .disabled {
	@include opacity(0.3);
	filter: alpha(opacity=30);

	label,a {
		cursor: default;
	}
}

.form .active {
	@include opacity(1);
	filter: alpha(opacity=100);

	label,a {
		cursor: pointer;
	}
}

// removing <br> in <p>
p {

	br {
		display: none;

		&:after {
			content: " ";
			display: inline;
		}
	}
}

// Alert (alert-error)
@import "error";