// Add Border Radius to all form elements
input, textarea, select {
	@extend %border-radius;
}

// Global for all submit buttons
.action-submit {
	@extend %norm-button;
}

// Cancel Links
.cancel-link {
	@extend %white-button;
}

// Primary Button
.btn-primary {
	@extend %norm-button;
}

// Right link (forgot password)
.right-link {
	float: right;
}

// Forgot password
.forgot-link {
	font-size: rem-calc(12px);
	font-size: rem-calc(14px);
	font-weight: normal;
}

// Disabled
.form .disabled {
	@include opacity(0.3);
	filter: alpha(opacity=30);

	label,a {
		cursor: default;
	}
}

// Alert (alert-error)
.alert {
	color: $red;

	p {
		margin-bottom: 0;
	}

	p,ul {
		font-size: rem-calc(10px);
		font-style: italic;
		line-height: rem-calc(14px);
		text-align: center;
	}


}

input.error, textarea.error, select.error {
	border: 1px solid $red;
	color: $red;
}

//h3 Title Span class
.title {
	font-size: inherit;
	color: inherit;
	display: inline;
}