@import "compass";
// Add Border Radius to all form elements
input, textarea, select {
	@extend %border-radius;
}

// Global for all submit buttons
.action-submit {
	@extend %norm-button;
}

// Cancel Links
.cancel-link {
	@extend %white-button;
}

// Primary Button
.btn-primary {
	@extend %norm-button;

	&.action-submit {

		span {
			@extend %font-bold-italic;
		}
	}
}

// Right link (forgot password)
.right-link {
	float: right;
}

// Forgot password
.forgot-link {
	font-size: rem-calc(12px);
	font-size: rem-calc(14px);
	font-weight: normal;
}

// Disabled + Active
.form .disabled {
	@include opacity(0.3);
	filter: alpha(opacity=30);

	label,a {
		cursor: default;
	}
}

.form .active {
	@include opacity(1);
	filter: alpha(opacity=100);

	label,a {
		cursor: pointer;
	}
}

// removing <br> in <p>
p {

	br {
		content: ' ';

		&:after {
			content: ' ';
		}
	}
}

// Input Box with Input and Label inline
.general-input-container {
	@include grid-row();
	max-width: 100%;	

	.general-input {
		@include grid-column(
		    $columns:9,
		    $collapse:true
		);

		input[type="text"] {
			line-height: rem-calc(14px);
			@include border-radius(5px 0 0 5px);
			@include single-box-shadow(none);
		}
	}

	.general-cta {
		@include grid-column(
		    $columns:3,
		    $collapse:true
		);
		
		a {
			@include prefix-postfix-base();
			@include prefix($bg: $red-orange,$is-button: true);
			@include border-radius(0 5px 5px 0);			
			border: none;
			color: white;
			font-style: italic;
		}
	}
	
}

// Form Element State/Zip
.state-zip-row {
	@include grid-row($behavior: nest);

	.col2 {
		@include grid-column(4);

		&:last-child {
			@include grid-column(8);
		}
	}
}
// Global/General Structure
.general-structure {
	@extend %internal-page-structure;
	font-family: $body-font-family;
	font-size: rem-calc(14px);

	h3 {
		display: block;
		margin-bottom: rem-calc(10px);

		span {
			color: $red-orange;
			display: block;
			font-size: rem-calc(12px);
		}
	}

	a {
		font-style: italic;
	}

	ul,ol {
		line-height: rem-calc(22px);
		list-style: none;
		@extend %no-padding;

		li {
			font-style: italic;
			margin-bottom: rem-calc(10px);

			&:last-child {
				margin-bottom: 0;
			}

			&.edit {
				margin-top: rem-calc(23px);
			}

			span {
				font-style: normal;
				font-weight: bold;
			}
		}
	}

	fieldset {
		border: none !important;

		&:last-child {
			margin-bottom: 0;
		}

		label {
			display: inline-block;
		}
	}

	hr {
		display: none;
	}

	&.thank-you {
		font-style: italic;
	}

	.shipping-info, .billing-info, .shipping-via {

		ul, ul li {
			margin: 0;
			padding: 0;
		}
	}
}

.general-container {
	div {

	 	h5 ~ a {
	 		@extend %white-button;
	 		@include border-radius($normal-radius);
	 		background-color: white;
	 		border: $grey-border;

	 		&:hover, &:focus {
	 			background-color: white;
	 		}
	 	}

	 	article {
	 		@include grid-row();
	 		@extend %spacing;
		 	background-color: #ececec;
		 	margin-bottom: $section-spacing;

		 	&:last-child {
		 		margin-bottom: 0;
		 	}

		 	section {
		 		 @include grid-column(12);
		 	}
	 	}

	 	fieldset {
	 		margin: 0;
	 	}
	}
}

// Invisible
.invisible {
	visibility: hidden;
}

.visuallyhidden {
	visibility: hidden;
	display: none;
}

// Alert (alert-error)
@import "error";