.my-account {
	@extend %internal-page-structure;
	font-family: $body-font-family;
	font-size: rem-calc(14px);

	h3 {
		margin-bottom: rem-calc(10px);

		span {
			color: $red-orange;
			display: block;
			font-size: rem-calc(12px);
		}
	}

	a {
		font-style: italic;
	}

	ul,ol {
		line-height: rem-calc(22px);
		list-style: none;
		@extend %no-padding;

		li {
			font-style: italic;
			margin-bottom: rem-calc(10px);

			&:last-child {
				margin-bottom: 0;
			}

			&.edit {
				margin-top: rem-calc(23px);
			}

			span {
				font-style: normal;
				font-weight: bold;
			}
		}

		hr {
			display: block !important;
			padding: rem-calc(10px) 0;
		}
	}

	fieldset {
		border: none !important;
	}

	hr {
		display: none;
	}
}



















