.related-products {
	@include grid-row();
	@extend %spacing;

	> article {
		@include grid-column(
			$columns:12,
			$collapse:true
			);

		h3 {
			font-size: rem-calc(18px);
			@extend %font-bold-italic;
		}

		ul {
			@extend %no-padding;
			list-style: none;
			@media #{$small-only} {
				@include block-grid(2);
			}

			@media #{$medium-up} {
				@include block-grid(3);
			}

			> li {
				@extend %no-padding;
				margin: 0 0 10%;
				padding-bottom: 0;
				position: relative;

				&:last-child {
					float: left;
					margin: 0;
				}
			}
		}
	}

	.product-group {
		position: relative;

		header {
			@extend %no-padding;
		}

		.product-name {
			color: black;
			@extend %helvetica-neue-77-bold-condensed;
			font-size: rem-calc(20px);
			line-height: rem-calc(20px);
			margin: 0 0 rem-calc(5px);

			a {
				color: inherit;
				font-style: normal;
			}
		}

		.product-price {
			color: $dark-gray;
			font-size: rem-calc(17px);
			line-height: rem-calc(17px);
			margin: rem-calc(5px) 0 0;
			@extend %font-bold-italic;
		}

		.rating-review-container {
			margin: 0 0 rem-calc(5px);
			text-align: left;

			a {
				font-size: rem-calc(13px);
				@extend %font-bold-italic;
			}
		}



		.cta-add-to-cart {
			@include button(
			    // Primary color set in settings file. Default: $primary-color.
			    $bg: white,
			    // If true, set to button radius which is $global-radius or explicitly set radius amount in px (ex. $radius:10px). Default:false.
			    $radius: 5px,
			    // We can set $full-width:true to remove side padding extend width. Default:false
			    $full-width:true,
			    // We can set $disabled:true to create a disabled transparent button. Default:false
			    $disabled:false
			    );

			border: 1px solid $gray-border;
			color: $red-orange;
			font-family: $body-font-family;
			display: block;
			font-size: rem-calc(16px);
			padding: rem-calc(8px) 0;
			@extend %border-radius;
			@extend %font-bold-italic;
			font-weight: bold;
			margin: 0;
			margin-bottom: rem-calc(5px);

			&:after {
				content: "Add to Cart";
				display: block;
			}
			&.added {
				background-color: $normal-gray;

				&:after {
					content: "Added";
				}
			}
		}

		.product-variant-filter {
			background-image: url('../images/icon-arrow-down.png');
			background-size: rem-calc(15px) rem-calc(10px);
			background-position: 96% center;
			background-color: white;
			border-color: $gray-border;
			color: $dark-gray;
			line-height: rem-calc(12);
			font-family: $body-font-family;
			font-size: rem-calc(12px);
			font-style: italic;
			padding-right: rem-calc(20px);
			@extend %border-radius;

			//hide text
			text-overflow: ellipsis;

			// Required for text-overflow to do anything
			white-space: nowrap;
			overflow: hidden;
			@include appearance(none);

			margin-bottom: rem-calc(5px);
		}		
	}
}