.related-products {
	@include grid-row();
	@extend %spacing;

	article {
		@include grid-column(
			$columns:12,
			$collapse:true
			);

		h3 {
			font-size: rem-calc(18px);
			@extend %font-bold-italic;
		}

		ul {
			@include grid-row($behavior: nest);
			list-style: none;

			> li {
				@include grid-column(6);
			}
		}
		// Related Products
		.related-item {

			header {
				margin-bottom: 2%;
			}

			h1 {
				color: $dark-gray;
				font-size: rem-calc(17px);
				margin: rem-calc(5px) 0 0;
				@extend %font-bold-italic;
			}

			h2 {
				color: black;
				@extend %helvetica-neue-77-bold-condensed;
				font-size: rem-calc(20px);
				margin: 0 0 rem-calc(5px);
			}

			.ratings {
				width: 100%;
			}
		}
	}
}