.search-term, .search-notfound {

	p {
		text-align: center;
		margin: 0;
		padding: 0 $section-spacing;

		span {
			font-weight: bold;
			@extend %helvetica-neue-77-bold-condensed;
		}
		
	}
}

.search-term {

}

.search-notfound {

}