.view-shopping-cart {
	@extend %internal-page-structure;
}


.product-container {

	.product {
		border-bottom: 1px solid $hr-gray;
		font-family: $body-font-family;
		font-size: rem-calc(14px);
		font-style: italic;
		@extend %spacing;
		@include grid-column(12);

		&:last-child {
			border-bottom: none;
		}

		header {
			@include grid-row();
			margin-bottom: 0;
			a {
				font-size: rem-calc(13px);
				@include grid-column($columns:6,$collapse:true);
				@extend %font-bold-italic;

				&:first-child {
					color: black;
					display: inline-block;
					font-size: rem-calc(19px);
					font-style: normal;
					font-weight: normal;
					margin-bottom: 5%;
					text-transform: uppercase;
					@extend %helvetica-neue-77-bold-condensed;
				}
			}
			.action-remove {
				text-align: right;
			}
		}


		

		p {
			margin-bottom: 0;
		}

		img {

		}

		section {
			clear: both;
			@extend %spacing;
			@include grid-row($behavior: nest);

			&.product-discription {
				padding: 0;

				div {
					@include grid-column(5);

					&+div {
						@include grid-column(7);
					}
				}

				ul {
					list-style: none;
					@extend %no-padding;

					li {
						@extend %no-padding;
					}
				}
			}

			&.product-quantity {

				div {
					@include grid-column(3);

					&+div {
						@include grid-column(9);
					}
				}
			}

			&.product-footer {
				padding: 0;

				p {
					@include grid-column(12);

					span {
						display: inline-block;
						float: right;
					}
				}
			}
		}
		

		.price-each {
			font-size: rem-calc(18px);
			margin-bottom: 0;
			@extend %font-bold-italic;
		}

		.filter {
			// display: inline-block;
			span {

			}
		}

		.sku {
		}

		select {
			background-color: white;
			// font-size: rem-calc(25px);
			font-style: italic;
		}

		.price {
			font-style: normal;
		}
	}

}




.cart-total {

	p {
		display: block;
		margin-bottom: 0;
		@extend %font-bold-italic;

		span {
			float: right;
			font-style: normal;
		}
	}
}

.cart-checkout {
	font-size: rem-calc(17px);
	border-bottom: none !important;
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;

	a {		
		&.action-checkout {
			@extend %font-bold-italic;
			@extend %norm-button;

			span.label {
				font-size: inherit;
				margin-bottom: 0;
			}

			&:hover {
				span.label {
						background-color: #8a3016;
				}
			}
		}

		&.continue-shopping {
			@extend %white-button;
			font-size: rem-calc(14px);
		}
	}
}

.cart-empty {

	p {
		font-size: rem-calc(14px);
		margin-bottom: 0;
		@extend %font-bold-italic;
	}
}





