.product {
	font-family: $body-font-family;

	@include grid-column(12);

	a {

	}

	p {

	}

	img {

	}

	.action-remove {

	}

	.price-each {

		.filter {
			font-size: rem-calc(14px);
			font-style: italic;

			span {

			}
		}

	}

	.sku {
		font-size: rem-calc(14px);
		font-style: italic;
	}

	select {

	}

	.price {

	}


}