.share-social {
	@include grid-row();

	.addthis_toolbox {
		display: inline-block;
	}

	article {
		@include grid-column(
			$columns:12,
			$collapse:true
			);
		text-align: center;
		vertical-align: top;

		h3 {
			display: inline-block;
			font-size: rem-calc(14px);
			line-height: rem-calc(14px);
			margin: 0;
			text-transform: uppercase;
			vertical-align: middle;

		}

		ul {
			display: inline-block;
			list-style: none;
			vertical-align: middle;
			margin: 0 0 0 rem-calc(10px);

			li {
				display: inline-block;
				

				a {
					display: block;
				}
			}
		}
	}
}