.share-social {
	@include grid-row();

	article {
		@include grid-column(
			$columns:12,
			$collapse:true
			);
		text-align: center;
		vertical-align: top;

		h3 {
			display: inline-block;
			font-size: rem-calc(14px);
			line-height: rem-calc(14px);
			margin: 0;
			text-transform: uppercase;
			vertical-align: middle;

		}

		ul {
			display: inline-block;
			list-style: none;
			vertical-align: middle;
			margin: 0 0 0 rem-calc(10px);

			li {
				display: inline-block;
				

				a {
					@extend %hide-text;
					display: block;
					height: rem-calc(23px);
					width: rem-calc(23px);
				}

				// Facebook
				&:nth-child(1) {
					a { background: url('../images/logo-social.png') no-repeat 0 -1px; }
				}
				// Twitter
				&:nth-child(2) {
					a { background: url('../images/logo-social.png') no-repeat -26px -1px; }
				}
				// Pinterest
				&:nth-child(3) {
					a { background: url('../images/logo-social.png') no-repeat -52px -1px; }
				}
				// Tumblr
				&:nth-child(4) {
					a { background: url('../images/logo-social.png') no-repeat -78px -1px; }
				}
			}
		}
	}
}





// Hide iFrames
.social-icons {

	#toolbox {

	}

	.addthis_button_tweet,
	.addthis_button_google_plusone,
	.addthis_button_pinterest_pinit,
	.addthis_button_facebook_like,
	.addthis_button_facebook_send {
		display: block;
		height: rem-calc(23px);
		width: rem-calc(23px);

		iframe {
			// display: none;
		}
	}

	.addthis_button_tweet {
		background: url('../images/logo-social.png') no-repeat -26px -1px;

		iframe {
			
			.btn {
				background-color: transparent;
				background-image: none;
				border: none;
				text-shadow: none;

				i {
					display: none;
				}
			}
		}
	}

	.addthis_button_google_plusone {

		iframe {
			display: none;
		}
	}

	.addthis_button_pinterest_pinit {
		background: url('../images/logo-social.png') no-repeat -52px -1px;

		iframe {
			display: none;
		}
	}

	.addthis_button_facebook_like {
		background: url('../images/logo-social.png') no-repeat 0 -1px;

		iframe {
			display: none;
		}
	}

	.addthis_button_facebook_send {
		background: url('../images/logo-social.png') no-repeat 0 -1px;

		iframe {
			display: none;
		}
	}
}


















