/* Table Of Contents
1. Colors
2. Typography
3. Spacing
4. Mixins
5. Misc.
6. Extends
 */


/* 1. Colors */

$off-white: #fdfbfb;
$gray: #333; //Copy
$normal-gray: #e6e6e6;
$light-gray: #999999; //Form Copy
$dark-gray: #606060;
$gray-border: #dad7d7;
$hr-gray: #d9d8d8; //Navigation Seperators
$red-orange: #ac3c1b; //Secondary Color
$form-copy: $light-gray;
$normal-radius: 5px;

/* 2. Typography */
$HelveticaNeue: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$HelveticaNeueBdCn: "HelveticaNeueW01-77BdCn 692722", "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$Clarendon: "Clarendon W01 Bold 927496", Georgia, "Times New Roman", Times, serif;


/* @import url(http://fast.fonts.com/cssapi/2acb9bff-c9c3-45fb-8e35-b00eacecee95.css);
@font-face{
font-family:"HelveticaNeueW01-77BdCn 692722";
src:url("/d/83d5bc89-af33-46a9-8fe3-15d87784f50e.eot?d44f19a684109620e4841470a090e818c7e1c8419a7c96f23b026fa7f558cc7bd2320d2919c399491b5b781a175b2012258da598d88c70566529cb94a598bb422651a8d72628d8238a41b5c96e26069307ff724dbd22eb93331ecc04616d5fd669&projectId=2acb9bff-c9c3-45fb-8e35-b00eacecee95") format("eot");}

@font-face{
font-family:"HelveticaNeueW01-77BdCn 692722";
src:url("/d/83d5bc89-af33-46a9-8fe3-15d87784f50e.eot?d44f19a684109620e4841470a090e818c7e1c8419a7c96f23b026fa7f558cc7bd2320d2919c399491b5b781a175b2012258da598d88c70566529cb94a598bb422651a8d72628d8238a41b5c96e26069307ff724dbd22eb93331ecc04616d5fd669&projectId=2acb9bff-c9c3-45fb-8e35-b00eacecee95");
src:url("/d/102ab74c-0e84-4fe5-a17a-b20fb643591a.woff?d44f19a684109620e4841470a090e818c7e1c8419a7c96f23b026fa7f558cc7bd2320d2919c399491b5b781a175b2012258da598d88c70566529cb94a598bb422651a8d72628d8238a41b5c96e26069307ff724dbd22eb93331ecc04616d5fd669&projectId=2acb9bff-c9c3-45fb-8e35-b00eacecee95") format("woff"),
	url("/d/1d146b29-55e2-485b-96aa-5cb628e7e9eb.ttf?d44f19a684109620e4841470a090e818c7e1c8419a7c96f23b026fa7f558cc7bd2320d2919c399491b5b781a175b2012258da598d88c70566529cb94a598bb422651a8d72628d8238a41b5c96e26069307ff724dbd22eb93331ecc04616d5fd669&projectId=2acb9bff-c9c3-45fb-8e35-b00eacecee95") format("truetype"),
	url("/d/d90b3358-e1e2-4abb-ba96-356983a54c22.svg?d44f19a684109620e4841470a090e818c7e1c8419a7c96f23b026fa7f558cc7bd2320d2919c399491b5b781a175b2012258da598d88c70566529cb94a598bb422651a8d72628d8238a41b5c96e26069307ff724dbd22eb93331ecc04616d5fd669&projectId=2acb9bff-c9c3-45fb-8e35-b00eacecee95#d90b3358-e1e2-4abb-ba96-356983a54c22") format("svg");
}
@font-face{
font-family:"Clarendon W01 Bold 927496";
src:url("/d/b8561208-8cf7-41b5-9671-ed82930b186d.eot?d44f19a684109620e4841470a090e818c7e1c8419a7c96f23b026fa7f558cc7bd2320d2919c399491b5b781a175b2012258da598d88c70566529cb94a598bb422651a8d72628d8238a41b5c96e26069307ff724dbd22eb93331ecc04616d5fd669&projectId=2acb9bff-c9c3-45fb-8e35-b00eacecee95") format("eot");}

@font-face{
font-family:"Clarendon W01 Bold 927496";
src:url("/d/b8561208-8cf7-41b5-9671-ed82930b186d.eot?d44f19a684109620e4841470a090e818c7e1c8419a7c96f23b026fa7f558cc7bd2320d2919c399491b5b781a175b2012258da598d88c70566529cb94a598bb422651a8d72628d8238a41b5c96e26069307ff724dbd22eb93331ecc04616d5fd669&projectId=2acb9bff-c9c3-45fb-8e35-b00eacecee95");
src:url("/d/9a8de9b4-b40a-45b9-9e87-5f8b8c9ff798.woff?d44f19a684109620e4841470a090e818c7e1c8419a7c96f23b026fa7f558cc7bd2320d2919c399491b5b781a175b2012258da598d88c70566529cb94a598bb422651a8d72628d8238a41b5c96e26069307ff724dbd22eb93331ecc04616d5fd669&projectId=2acb9bff-c9c3-45fb-8e35-b00eacecee95") format("woff"),
	url("/d/448c8d9a-938d-4e6b-96fe-07294d6dabed.ttf?d44f19a684109620e4841470a090e818c7e1c8419a7c96f23b026fa7f558cc7bd2320d2919c399491b5b781a175b2012258da598d88c70566529cb94a598bb422651a8d72628d8238a41b5c96e26069307ff724dbd22eb93331ecc04616d5fd669&projectId=2acb9bff-c9c3-45fb-8e35-b00eacecee95") format("truetype"),
	url("/d/685d503a-a68f-4e0f-815b-ec8924b672f3.svg?d44f19a684109620e4841470a090e818c7e1c8419a7c96f23b026fa7f558cc7bd2320d2919c399491b5b781a175b2012258da598d88c70566529cb94a598bb422651a8d72628d8238a41b5c96e26069307ff724dbd22eb93331ecc04616d5fd669&projectId=2acb9bff-c9c3-45fb-8e35-b00eacecee95#685d503a-a68f-4e0f-815b-ec8924b672f3") format("svg");
} */



.helvetica-neue-77-bold-condensed { font-family: $HelveticaNeueBdCn; font-style: normal; font-weight: normal; text-transform: uppercase; }
.clarendon-bold { font-family: $Clarendon; font-style: normal; font-weight: normal; }

/* 3. Spacing */


/* 4. Mixins/Extend/Function */
%spacing {
	padding: 1.25rem 0;
}

%no-padding {
	margin: 0;
	padding: 0;
}

%hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

%border-radius {
	@include border-radius($normal-radius);
}

%font-bold-italic {
	font-style: italic;
	font-weight: bold;
}

%no-focus {
	&:focus { outline: 0; }
}

/* 5. Misc. */ 

/* 6. Extends */ 