@import "foundation/functions";
@import "foundation/components/grid";
@import "foundation/components/buttons";
@import "compass";


// Table Of Contents
// 1. Colors
// 2. Typography
// 3. Spacing
// 4. Mixins
// 5. Misc.
// 6. Extends



// 1. Colors

$off-white: #fdfbfb;
$gray: #333; //Copy
$normal-gray: #e6e6e6;
$light-gray: #999999; //Form Copy
$dark-gray: #606060;
$gray-border: #dad7d7;
$hr-gray: #d9d8d8; //Navigation Seperators
$red-orange: #ac3c1b; //Secondary Color
$form-copy: $light-gray;
$normal-radius: 5px;

// 2. Typography

// 3. Spacing


// 4. Mixins/Extend/Function
%helvetica-neue-77-bold-condensed { 
	font-family: "HelveticaNeueW01-77BdCn 692722", "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-style: normal; 
	font-weight: normal; 
	text-transform: uppercase;
}

%spacing {
	padding: rem-calc(20px) 0;
}

%no-padding {
	margin: 0;
	padding: 0;
}

%hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

%border-radius {
	@include border-radius($normal-radius);
}

%font-bold-italic {
	font-style: italic;
	font-weight: bold;
}

%no-focus {
	&:focus { outline: 0; }
}

////////////////////////////
// Button Styles
////////////////////////////

// White Button
%white-button {
	@include button(
		    $padding:rem-calc(8px),
		    $bg:white,
		    $radius:true,
		    $full-width:true,
		    $disabled:false
	);
	background: none;
	color: #ac3c1b;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: rem-calc(17px) !important;
	font-style: italic;
	font-weight: bold;
	padding: rem-calc(8px) 0;

	&:hover {
		background: transparent;
		color: #ac3c1b;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

// Orange Button
%norm-button {
	@include button(
	    $padding:rem-calc(8px),
	    $bg:$red-orange,
	    $radius:true,
	    $full-width:true,
	    $disabled:false
		);
	@include border-radius($normal-radius);
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: rem-calc(17px) !important;
	font-style: italic;
	padding: rem-calc(8px) 0;
	border-bottom: none !important;
	margin-bottom: 0 !important;


	span {
		font-size: inherit;
		margin-bottom: 0;
	}

	&:hover {
		span.label {
				background-color: #8a3016;
		}
	}
}

////////////////////////////
//  Internal Pages
////////////////////////////
%internal-page-structure {
	@include grid-column(
		$columns:12,
		$collapse:true
		);
	padding: rem-calc(12px) 0;

	& > section {
		@include grid-row();
		border-bottom: 1px solid $hr-gray;
		margin-bottom: rem-calc(20px);
		padding-bottom: rem-calc(20px);

		&:last-child {
			border: none;
			margin-bottom: 0;
		}

		& > div {
			@include grid-column(12);
		}
	}

	article {
		&:last-child {
			> p {
				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		section {
			&:last-child {
				> p {
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	h1,h2,h3,h4,h5,h6 {
		// @extend %no-padding;
	}

	h1 {
		border-bottom: 1px solid $hr-gray;
		display: block;
		font-size: rem-calc(25px);
		line-height: rem-calc(25px);
		margin-bottom: rem-calc(21px);
		padding-bottom: rem-calc(12px);
		text-align: center;
		@extend %helvetica-neue-77-bold-condensed;
	}
	h3 {
		font-size: rem-calc(20px);
		line-height: rem-calc(20px);
		margin: 0 0 rem-calc(21px);
		@extend %helvetica-neue-77-bold-condensed;
	}

	h5 {
		font-size: rem-calc(18px);
		line-height: rem-calc(18px);
		margin: 0 0 rem-calc(13px);
		@extend %font-bold-italic;
	}

	h6 {
		line-height: rem-calc(14px);
		line-height: rem-calc(22px);
		font-weight: bold;
	}

	p {
		line-height: rem-calc(22px);
		margin: 0 0 rem-calc(27px);
	}
	h6, p, ul {
		font-size: rem-calc(14px);
	}
	input, textarea {
		@extend %border-radius;
	}
}



// 5. Misc. 
$include-html-classes: jrw-resp;







