#write-review {

	.policy-link {
		display: block;
		text-align: center;
		margin: 0 0 $section-spacing;
	}


	.box-content {

		ul {

			&:last-child {
				margin: 0 0 $section-spacing;
			}

			li {
				line-height: 1.2;

				&:last-child {
					margin: 0 0 $section-spacing;
				}
			}
		}
	}

	article {

		&.box-content {
			margin: $section-spacing 0;
		}
	}

	.main {
		background-color: transparent;
		border: none;
		margin: 0;
		max-width: none;
		position: static;
		width: auto;
	}

	.character-counter {

		label {
			width: 100%;
		}
	}

	.product-description {

		h3 {
    	@extend %font-bold-italic;
    	font-size: rem-calc(18px);
    	font-family: $body-font-family
    }
	}
}