#write-review {

	.policy-link {
		display: block;
		text-align: center;
		margin: 0 0 $section-spacing;
	}


	.box-content {

		ul {

			&:last-child {
				margin: 0 0 $section-spacing;
			}

			li {
				line-height: 1;

				&:last-child {
					margin: 0 0 $section-spacing;
				}
			}
		}
	}

	article {

		&.box-content {
			margin: $section-spacing 0;
		}
	}
}